<link rel="icon" type="image/x-icon" href="static/favicon.ico"/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<!-- Open Graph meta data -->
<meta data-rh="true" property="og:url" content="https://julien_p.gitlab.io/the-library-slides/">
<meta data-rh="true" property="og:type" content="website">
<meta data-rh="true" property="og:site_name" content="The Librery">
<meta data-rh="true" property="og:title" content="The Librery">
<meta data-rh="true" property="og:description" content="Réflexion sur un mécanisme de financement pérenne des communs">
<meta data-rh="true" property="og:image" content="https://gitlab.com/Julien_P/the-library-slides/-/raw/main/images/Librery-logo-baudot-black-thumb.png">
<!-- Twitter Meta Tags -->
<meta data-rh="true" name="twitter:card" content="summary_large_image">
<meta data-rh="true" property="twitter:domain" content="julien_p.gitlab.io">
<meta data-rh="true" property="twitter:url" content="https://julien_p.gitlab.io/the-library-slides/">
<meta data-rh="true" name="twitter:title" content="The Librery - économie des communs">
<meta data-rh="true" name="twitter:description" content="Réflexion sur un mécanisme de financement pérenne des communs">
<meta data-rh="true" name="twitter:image" content="https://gitlab.com/Julien_P/the-library-slides/-/raw/main/images/Librery-logo-baudot-black-thumb.png">
<meta data-rh="true" name="twitter:image:alt" content="The Librery">
<meta data-rh="true" name="twitter:image:width" content="529">
<meta data-rh="true" name="twitter:image:height" content="296">
<meta data-rh="true" name="twitter:site" content="@jparis_py">
<meta data-rh="true" name="twitter:creator" content="@jparis_py">
<meta data-rh="true" name="twitter:creator:id" content="jparis_py">
